{{!< default}}

{{navigation}}

<main class="content" role="main">
    <section class="error-message text-center">
        <h2 class="error-code text-center">{{code}} - {{message}}</h2>
		<p>Uh oh. Seems like some nonsense has confused our Ghost! Quick, jump to another page before it confuses you too!</p>
        <p><a class="error-link text-center" href="{{@blog.url}}">Run away!</a></p>
    </section>
</main>
